.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loader {
  display: inline-block;
  width: 40px;
  height: 40px;
  &__text {
      margin-top: 8px;
  }
}
.loader:after {
  content: " ";
  display: block;
  width: 24px;
  height: 24px;
  margin: 4px;
  border-radius: 50%;
  border: 6px solid #89b4c4;
  border-color: #89b4c4 transparent #89b4c4 transparent;
  animation: loader 1.2s linear infinite;
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
