.form {
  display: flex;
  flex-direction: column;
  &__item,
  &__legend {
    margin-bottom: 8px;
    width: 100%;
  }
  &__item + label {
    margin-top: -4px;
  }
  &__fields {
    display: flex;
    flex-direction: column;
  }

  &__legend {
    text-align: center;
  }
}

.error {
  color: red;
}

.criticalError {
  text-align: center;
  font-size: 20px;
}
