@import "./reset.scss";
@import "../style/media.scss";

:global {
  html,
  body,
  #app {
    height: 100%;
    width: 100%;
    margin: 0px;
  }

  body {
    font-family: "Sen", sans-serif;
  }


input {
  border-radius: 0;
}

}

.layout {
  margin: 0 auto;
  padding: 40px 16px 16px;
}

@include tabletMore {
  .layout {
    width: 320px;
  }
}
